<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<%= will_paginate @recipes %>

<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <% unless recipe.attachment.nil? %>
          <img width="80px" src="<%= download_path(recipe.id, recipe.attachment.id) %>"></img>
        <% end %>
      </td>
      <td><%= link_to recipe.name, recipe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @recipes %>

<% if logged_in? %>
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary' %>
<% end %>