<p id="notice"><%= notice %></p>

<h1><%= params[:search] if params[:search] != "%" %> Recipes</h1>



<%= form_tag("/recipes", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= select_tag(:search, options_for_select([["All", "%"], ["Soup", "Soup"], ["Main", "Main"], ["Dessert", "Dessert"]])) %>
  <%= submit_tag("Search") %>
<% end %>

<%= will_paginate @recipes %>

<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <% unless recipe.attachment.nil? %>
          <img width="80px" src="<%= download_path(recipe.id, recipe.attachment.id) %>">
        <% end %>
      </td>
      <td><%= link_to recipe.name, recipe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @recipes %>

<% if logged_in? %>
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary' %>
<% end %>