<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipe.owner.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Image:</strong>
  <% unless @recipe.attachment.nil? %>
    <img width="250px" src="<%= download_path(@recipe.id, @recipe.attachment.id) %>"></img>
  <% end %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-warning' %> |
<% end %>
<%= link_to 'Back', recipes_path %>
